
form {
    border: solid whitesmoke 1px;
    border-radius: 0.2em;
    background-color: rgb(81, 81, 110);
}

button {
    padding: 10px;
    margin: 0 5px;
    background: none;
    background-color: rgba(34, 191, 191, 0.233);
    font-weight: bold;
    color: azure;
    border-radius: 10px ;
    border: 0;
    cursor: pointer;
}

label {
    color: rgb(208, 211, 212);
}

.warning {
    border: solid red 1px;
    border-radius: 0.2em;
  }
  
  .danger {
    font-size: 10px;
    color: red;
    margin-left: 10em;
  }

