input {
    background-color: rgb(115, 159, 198);
}

button {
    padding: 10px;
    margin: 0 5px;
    background: none;
    background-color: rgba(34, 191, 191, 0.233);
    font-weight: bold;
    color: azure;
    border-radius: 10px ;
    border: 0;
    cursor: pointer;
}